 <div ng-show="displayMessage">{{message}}</div>
 
        	<form class="form-inline">
          		<div class="form-group">
            		<label class="sr-only" for="nom">Nom</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="nom" placeholder="Nom" ng-model="nom">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="prenom">Prénom</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="prenom" placeholder="Prénom" ng-model="prenom">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="genre">Genre</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="genre" placeholder="Genre" ng-model="genre">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="pseudo">Pseudonyme</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="pseudo" placeholder="Pseudonyme" ng-model="pseudo">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="mot">Mot de passe</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="mot" placeholder="Mot de Passe" ng-model="motdp">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="naissance">Date de naissance</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="date" placeholder="date de naissance" ng-model="date">
            			</div>
        		</div>
        		<div class="form-group">
            		<label class="sr-only" for="adresse">Adresse internet</label>
            			<div class="input-group">
              				<input type="text" class="form-control" id="adresse" placeholder="@dresse" ng-model="adresse">
            			</div>
        		</div>
        		<div class="form-group">
                <label class="sr-only" for="cp">Code postal</label>
                  <div class="input-group">
                      <input type="text" class="form-control" id="cp" placeholder="Code Postal" ng-model="cp">
                  </div>
            </div>
            <div class="form-group">
            <select>
               <option value="{{dialecte.dialecte}}" ng-repeat="dialecte in dialectes">{{dialecte.dialecte}}</option>
            </select>
        		</div>

          		<button type="submit" class="btn btn-default" ng-click="enregistrer()">S'enregistrer</button>
        	</form>
          
